<section>
    <div class="container">
        <h2>Trailer officiel</h2>
        <div class="video-container">
            <img src="/image/test.gif" alt="Trailer du jeu" class="video">
    </div>
</section>