
<header>
    <img src="/image/logotest.png" alt="Logo du jeu">
    <nav>
        <ul>
            <li><a href="Site.html">Accueil</a></li>
            <li><a href="art.html">Artwork</a></li>
            <li><a href="Apropos.html">A propos</a></li>
            <li><a href="lore.html">Lore</a></li>
        </ul>
    </nav>
    <div class="active" id="loginActive">
        <button id="loginBtn">Connexion</button>
        <div id="loginForm" class="loginForm hidden">
            <form>
                <input type="text" placeholder="Nom d'utilisateur">
                <input type="password" placeholder="Mot de passe">
                <button type="submit">Se connecter</button>
            </form>
        </div>
    </div>
</header>